[submodule "suite/asphalt-atlas-hub"]
	path = suite/asphalt-atlas-hub
	url = https://github.com/NXConner/asphalt-atlas-hub.git
[submodule "suite/patrick-county-mapper"]
	path = suite/patrick-county-mapper
	url = https://github.com/NXConner/patrick-county-mapper.git
[submodule "suite/fleet-focus-manager"]
	path = suite/fleet-focus-manager
	url = https://github.com/NXConner/fleet-focus-manager.git
[submodule "odoo/asphalt-odoo-prime"]
	path = odoo/asphalt-odoo-prime
	url = https://github.com/NXConner/asphalt-odoo-prime.git
